createdAt: "2018-08-31T06:53:15.270Z"
updatedAt: "2018-08-31T14:36:47.463Z"
type: "MARKDOWN_NOTE"
folder: "3e6a36e6bc70ab6e4419"
title: "B 1004"
content: '''
  # B 1004
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  struct student {
  	char name[15];
  	char num[15];
  	int score;
  }max_stu,min_stu,temp_stu;
  
  int main()
  {
  	max_stu.score = -1;
  	min_stu.score = 100;
  	int N;
  	scanf("%d", &N);
  	for (int i = 0; i < N; i++)
  	{
  		scanf("%s%s%d", &temp_stu.name, &temp_stu.num, &temp_stu.score);
  		if (temp_stu.score > max_stu.score)
  			max_stu = temp_stu;
  		if (temp_stu.score < min_stu.score)
  			min_stu = temp_stu;
  	}
  	printf("%s %s\\n", max_stu.name, max_stu.num);
  	printf("%s %s\\n", min_stu.name, min_stu.num);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
