createdAt: "2018-08-30T13:52:35.699Z"
updatedAt: "2018-08-30T13:52:48.264Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "1026"
content: '''
  # 1026
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  const int CLK_TCK = 100;
  
  int main()
  {
  	int C1, C2,C;
  	scanf("%d%d", &C1, &C2);
  	C=(C1-C2)/CLK
  	printf("%d:%d:%d", C/3600, C%3600/60, C%60);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
