createdAt: "2018-08-30T13:31:15.026Z"
updatedAt: "2018-08-30T13:38:21.374Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "B1011"
content: '''
  # B1011
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  using namespace std;
  
  const int maxn = 100010;
  
  int main()
  {
  	int T;
  	scanf("%d", &T);
  	long long A, B, C;
  	for (int i = 1; i <= T; i++)
  	{
  		scanf("%lld %lld %lld", &A, &B, &C);
  		if (A + B > C)
  			printf("Case #%d: true\\n", i);
  		else
  			printf("Case #%d: false\\n", i);
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
