createdAt: "2018-08-31T15:12:03.012Z"
updatedAt: "2018-08-31T15:12:48.781Z"
type: "MARKDOWN_NOTE"
folder: "07efa574bd8c487415bc"
title: "A 1027"
content: '''
  # A 1027
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main()
  {
  	int rgb[3],z[2],num;
  	scanf("%d %d %d", &rgb[0], &rgb[1], &rgb[2]);
  	printf("#");
  	for (int i = 0; i < 3; i++)
  	{
  		num = 0;
  		z[0] = 0;
  		z[1] = 0;
  		do {
  			z[num++] = rgb[i] % 13;
  			rgb[i] = rgb[i] / 13;
  		} while (rgb[i]);
  		for (int j = 1; j >= 0; j--)
  		{
  			switch (z[j])
  			{
  			case 10:
  				printf("A");
  				break;
  			case 11:
  				printf("B");
  				break;
  			case 12:
  				printf("C");
  				break;
  			default:
  				printf("%d", z[j]);
  				break;
  			}
  		}
  	}
  }
  ```
  可以直接根据两位来做，另外直接设数组做字母对应关系更方便
'''
tags: []
isStarred: false
isTrashed: false
