createdAt: "2018-08-31T02:53:48.539Z"
updatedAt: "2018-08-31T02:54:02.078Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "A 1042"
content: '''
  # A 1042
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  int main()
  {
  	int repeat,order[55];
  	int start[55],end[55];
  	scanf("%d", &repeat);
  	for (int i = 1; i <=54; i++)
  		scanf("%d", &order[i]);
  	char kind[5] = { 'S','H','C','D','J' };
  	for (int i = 1; i <= 54; i++)
  		start[i] = i;
  	for (int j = 0; j < repeat; j++)
  	{
  		for (int i = 1; i <= 54; i++)
  		{
  			end[order[i]] = start[i];
  		}
  		for (int i = 1; i <= 54; i++)
  		{
  			start[i] = end[i];
  		}
  	}
  	for (int i = 1; i <= 54; i++)
  	{
  		printf("%c%d", kind[(start[i] - 1) / 13],(start[i]-1)%13+1);
  		if (i != 54)
  			printf(" ");
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
