createdAt: "2018-08-31T09:06:19.837Z"
updatedAt: "2018-08-31T09:06:29.600Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "A 1031"
content: '''
  # A 1031
  ```c++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main() 
  {
  	char str[85];
  	scanf("%s", str);
  	int N = (int)strlen(str);
  	int n = (N + 2) / 3;
  	for (int i = 0; i < n - 1; i++)
  	{
  		printf("%c", str[i]);
  		for (int j = 0; j < N - 2 * n; j++)
  			printf(" ");
  		printf("%c\\n", str[N - 1 - i]);
  	}
  	for (int i = n - 1; i < N - n+1; i++)
  		printf("%c", str[i]);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
