createdAt: "2018-09-01T01:07:32.170Z"
updatedAt: "2018-09-01T01:07:52.686Z"
type: "MARKDOWN_NOTE"
folder: "f845f61dda1e1958a234"
title: "B 1021"
content: '''
  # B 1021
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main() 
  {
  	char a[1010];
  	scanf("%s", a);
  	int len = strlen(a);
  	for (int i = 0; i < len; i++)
  		a[i] = a[i] - '0';
  	int wei[10] = { 0 };
  	for (int i = 0; i < len; i++)
  		wei[a[i]]++;
  	for (int i = 0; i < 10; i++)
  	{
  		if(wei[i]!=0)
  			printf("%d:%d\\n", i, wei[i]);
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
