createdAt: "2018-08-31T06:15:21.107Z"
updatedAt: "2018-08-31T06:15:39.471Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "A 1002"
content: '''
  # A 1002
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  int main()
  {
  	int a_num, b_num, exp;
  	float a[1005] = { 0 }, b[1005] = { 0 };
  	scanf("%d", &a_num);
  	for (int i = 0; i < a_num; i++)
  	{
  		scanf("%d", &exp);
  		scanf("%f", &a[exp]);
  	}
  	scanf("%d", &b_num);
  	for (int i = 0; i < b_num; i++)
  	{
  		scanf("%d", &exp);
  		scanf("%f", &b[exp]);
  	}
  	int num=0;
  	for (int i = 0; i < 1004; i++)
  	{
  		a[i] = a[i] + b[i];
  		if (a[i] != 0)
  			num++;
  	}
  	printf("%d", num);
  	for (int i = 1004; i>=0; i--)
  	{
  		if (a[i] != 0)
  		{
  			printf(" %d %.1f", i, a[i]);
  		}
  	}
  }```
'''
tags: []
isStarred: false
isTrashed: false
