createdAt: "2018-09-06T10:38:56.811Z"
updatedAt: "2018-09-06T10:39:09.299Z"
type: "MARKDOWN_NOTE"
folder: "1c076b4d30392f63f1a3"
title: "A 1085"
content: '''
  # A 1085
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  #include<iostream>
  #include<algorithm>
  
  bool cmp(int a, int b)
  {
  	return a < b;
  }
  
  int binarySearch(int seq[], int left, int right, long long x)
  {
  	if (seq[right] <= x)
  		return right+1;
  	int mid;
  	while (left < right)
  	{
  		mid = (left + right) / 2;
  		if (seq[mid] <= x)
  			left = mid + 1;
  		else
  			right = mid;
  	}
  	return left;
  }
  
  int main()
  {
  	int n, p;
  	scanf("%d %d", &n, &p);
  	int seq[100010];
  
  	for (int i = 0; i < n; i++)
  		scanf("%d", &seq[i]);
  
  	std::sort(seq, seq + n, cmp);
  
  	int ans = 1;
  	for (int i = 0; i < n; i++)
  	{
  		/*int j = std::upper_bound(seq + i + 1, seq + n, (long long)seq[i] * p)-seq;
  		ans = std::max(ans, j - i);*/
  		int j = binarySearch(seq, i + 1, n - 1, (long long)seq[i] * p);
  		ans = std::max(ans, j - i);
  	}
  	printf("%d\\n", ans);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
