type: "MARKDOWN_NOTE"
folder: "7a2e90aa73aa9807f4a7"
title: ".gitconfig配置"
content: '''
  # .gitconfig配置
  ---
  ---
  
  #### 配置默认编辑器
  `git config --global core.editor xx`
  
  ......
  也可以直接编辑`.gitconfig`文件,强行vscode配置参考，使用后不太推荐
  ```
  [user]
  	name = Yi-yezi
  	email = 291067847@qq.com
  [core]
  	editor = code --wait
  [diff]
  	tool = vscode
  
  [difftool "vscode"]
  	cmd = code --wait --diff $LOCAL $REMOTE
  
  [diff]
  	prompt = false
  
  [merge]
  	tool = vscode
  
  [mergetool "vscode"]
  	cmd = code --wait $MERGED
  
  
  [mergetool]
  	prompt = false
  	keepBackup = false
  	trustExitCode = true
  ```
  注意 配置项和CMD不要放在一起，会失效...
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-07-06T08:54:51.618Z"
updatedAt: "2018-07-06T13:37:32.072Z"
