createdAt: "2018-09-01T01:36:19.761Z"
updatedAt: "2018-09-01T01:36:56.609Z"
type: "MARKDOWN_NOTE"
folder: "f845f61dda1e1958a234"
title: "B1031"
content: '''
  # B1031
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main() 
  {
  	char yinshe[15] = { '1','0','X','9','8','7','6','5','4','3','2' };
  	int quan[20] = { 7,9,10,5,8,4,2,1,6,3,7,9,10,5,8,4,2 };
  	int n;
  	scanf("%d", &n);
  	char id[20];
  	bool pass = true;
  	for (int i = 0; i < n; i++)
  	{
  		scanf("%s", id);
  		int sum = 0;
  		for (int j = 0; j < 17; j++)
  		{
  			if (id[j]<'0' || id[j]>'9') 
  			{
  				pass = false;
  				printf("%s\\n", id);
  				break;
  			}
  			sum+= (id[j] - '0')*quan[j];
  		}
  		if (yinshe[sum % 11] != id[17])
  		{
  			pass = false;
  			printf("%s\\n", id);
  		}
  	}
  	if (pass)
  		printf("All passed");
  }
  ```
  官网上测试不通过，牛客网上通过，不知道什么原因
'''
tags: []
isStarred: false
isTrashed: false
