createdAt: "2018-08-31T05:50:08.418Z"
updatedAt: "2018-08-31T05:50:18.165Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "B 1010"
content: '''
  # B 1010
  ```c++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  int main()
  {
  	int time = 1;
  	int num, exp;
  	bool first = true, exit = false;
  	while (scanf("%d%d", &num, &exp)!=EOF)
  	{
  		if (exp > 0)
  		{
  			exit = true;
  			if (first)
  			{
  				printf("%d %d", num*exp, exp - 1);
  				first = false;
  			}
  			else
  				printf(" %d %d", num*exp, exp - 1);
  		}
  	}
  	if (!exit)
  		printf("0 0");
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
