createdAt: "2018-08-31T14:28:01.475Z"
updatedAt: "2018-08-31T14:36:13.113Z"
type: "MARKDOWN_NOTE"
folder: "07efa574bd8c487415bc"
title: "B 1037"
content: '''
  # B 1037
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main()
  {
  	int need_galleon, need_sickle, need_knut,need;
  	int pay_galleon, pay_sickle, pay_knut,pay;
  	scanf("%d.%d.%d", &need_galleon, &need_sickle, &need_knut);
  	scanf("%d.%d.%d", &pay_galleon, &pay_sickle, &pay_knut);
  	need = need_galleon * 17 * 29+ need_sickle*29+ need_knut;
  	pay= pay_galleon * 17 * 29 + pay_sickle * 29 + pay_knut;
  	int ret = pay - need;
  	if (ret < 0)
  	{
  		printf("-");
  		ret = -ret;
  	}
  	printf("%d.%d.%d", ret / (17 * 29), ret % (17 * 29) / 29, ret % 29);
  }
  ```
'''
tags: [
  "进制转换"
]
isStarred: false
isTrashed: false
