createdAt: "2018-09-05T06:23:28.555Z"
updatedAt: "2018-09-05T06:23:46.029Z"
type: "MARKDOWN_NOTE"
folder: "c406085014b736996d4e"
title: "A 1012"
content: '''
  # A 1012
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  #include<iostream>
  #include<algorithm>
  using namespace std;
  
  struct person {
  	int id;
  	int grade[4];
  }student[2010];
  
  char course[4] = { 'A','C','M','E' };
  int Rank[1000000][4] = { 0 };
  int now;
  
  bool cmp(person a, person b)
  {
  	return a.grade[now] > b.grade[now];
  }
  
  int main()
  {
  	int n, m;
  	scanf("%d %d", &n, &m);
  	
  	for (int i = 0; i < n; i++)
  	{
  		scanf("%d %d %d %d", &student[i].id, &student[i].grade[1], &student[i].grade[2], &student[i].grade[3]);
  		student[i].grade[0] = student[i].grade[1] + student[i].grade[2] + student[i].grade[3];
  	}
  	for (now = 0; now < 4; now++)
  	{
  		sort(student, student + n, cmp);
  		Rank[student[0].id][now] = 1;
  		for (int i = 1; i < n; i++)
  		{
  			if (student[i].grade[now] == student[i - 1].grade[now])
  				Rank[student[i].id][now] = Rank[student[i - 1].id][now];
  			else
  				Rank[student[i].id][now] = i + 1;
  		}
  	}
  
  	int query;
  	for (int i = 0; i < m; i++)
  	{
  		scanf("%d", &query);
  		if (Rank[query][0] == 0)
  			printf("N/A\\n");
  		else
  		{
  			int k=0;
  			for (int j = 0; j < 4; j++)
  			{
  				if (Rank[query][j] < Rank[query][k])
  					k = j;
  			}
  			printf("%d %c\\n", Rank[query][k], course[k]);
  		}
  	}
  
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
