createdAt: "2018-09-06T05:48:52.879Z"
updatedAt: "2018-09-06T05:49:03.722Z"
type: "MARKDOWN_NOTE"
folder: "31799e436538de794ce4"
title: "A 1050"
content: '''
  # A 1050
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  #include<iostream>
  #include<algorithm>
  
  
  int main()
  {
  	char str1[10010], str2[10010];
  	std::cin.getline(str1, 10010);
  	std::cin.getline(str2, 10010);
  	bool HashTable[150] = { false };
  	int len1 = strlen(str1);
  	int len2 = strlen(str2);
  	for (int i = 0; i < len2; i++)
  	{
  		HashTable[(int)str2[i]] = true;
  	}
  	for (int i = 0; i < len1; i++)
  	{
  		if (!HashTable[(int)str1[i]])
  			printf("%c", str1[i]);
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
