createdAt: "2018-08-31T05:32:59.992Z"
updatedAt: "2018-08-31T05:33:09.970Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "A 1065"
content: '''
  # A 1065
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  int main()
  {
  	int T;
  	scanf("%d", &T);
  	long long A, B, C,res;
  	for (int i = 1; i <= T; i++)
  	{
  		scanf("%lld %lld %lld", &A, &B, &C);
  		res = A + B;
  		if (A>0&&B>0&& res<0)
  			printf("Case #%d: true\\n", i);
  		else if(A<0&&B<0&& res >=0)
  			printf("Case #%d: false\\n", i);
  		else if(res>C)
  			printf("Case #%d: true\\n", i);
  		else
  			printf("Case #%d: false\\n", i);
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
