type: "MARKDOWN_NOTE"
folder: "8dc45b9f7fd48601778e"
title: "npm 更新"
content: '''
  npm 更新
  ```bash
  npm update -g
  ```
  
  nodejs更新
  ```bash
  npm install -g n
  n latest
  ```
  
  `npm init -y`默认生成
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-07-07T12:53:35.876Z"
updatedAt: "2018-07-08T07:45:53.153Z"
