createdAt: "2018-08-31T14:55:55.953Z"
updatedAt: "2018-08-31T14:56:11.004Z"
type: "MARKDOWN_NOTE"
folder: "07efa574bd8c487415bc"
title: "A 1019"
content: '''
  # A 1019
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main()
  {
  	int n, base,z[35],num=0;
  	scanf("%d %d", &n, &base);
  	do
  	{
  		z[num++] = n % base;
  		n = n / base;
  	} while (n);
  	bool pal = true;
  	for (int i = num - 1,j=0; i >= 0&&j<=num-1; i--,j++)
  	{
  		if (z[i] != z[j])
  		{
  			pal = false;
  			break;
  		}
  	}
  	printf("%s\\n", pal ? "Yes" : "No");
  	for (int i = num - 1; i >= 0; i--)
  	{
  		printf("%d", z[i]);
  		if (i > 0)
  			printf(" ");
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
