createdAt: "2018-08-31T07:40:27.807Z"
updatedAt: "2018-08-31T07:40:36.199Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "A 1011"
content: '''
  # A 1011
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  int main() 
  {
  	float max[3] = { 0 },temp;
  	char c;
  	for (int i = 0; i < 3; i++)
  	{
  		for (int j = 0; j < 3; j++)
  		{
  			scanf("%f", &temp);
  			if (temp > max[i])
  			{
  				max[i] = temp;
  				c = j == 0 ? 'W' : j == 1 ? 'T' : 'L';
  			}
  		}
  		printf("%c ", c);
  	}
  	printf("%.2f", (max[0] * max[1] * max[2] * 0.65 - 1) * 2);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
