createdAt: "2018-08-30T13:22:20.436Z"
updatedAt: "2018-08-30T13:22:56.675Z"
type: "MARKDOWN_NOTE"
folder: "75622371f11bbc731362"
title: "B1032"
content: '''
  # B1032
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  using namespace std;
  
  const int maxn = 100010;
  
  int main()
  {
  	int school[maxn] = { 0 };
  	int num;
  	int school_id, score;
  	scanf("%d", &num);
  	for (int i = 0; i < num; i++)
  	{
  		scanf("%d%d", &school_id, &score);
  		school[school_id] += score;
  	}
  	int max_score = 0, max_school_id = 0;
  	for (int i = 0; i <= num; i++)
  	{
  		if (school[i] > max_score)
  		{
  			max_score = school[i];
  			max_school_id = i;
  		}
  	}
  	printf("%d %d", max_school_id, max_score);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
