createdAt: "2018-09-07T03:29:54.393Z"
updatedAt: "2018-09-07T03:30:06.228Z"
type: "MARKDOWN_NOTE"
folder: "2fd5e23bbfb9021cdbbc"
title: "A1097"
content: '''
  # A1097
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  #include<iostream>
  #include<queue>
  #include<algorithm>
  
  struct node {
  	int address;
  	int data;
  	int next;
  }list[100010];
  
  
  int main()
  {
  	int begin, n;
  	scanf("%d %d", &begin, &n);
  	int address;
  	bool a[10010] = { false };
  	for (int i = 0; i < n; i++)
  	{
  		scanf("%d", &address);
  		scanf("%d %d", &list[address].data, &list[address].next);
  		list[address].address = address;
  	}
  
  	int p;
  	int last = -1, last_chong = -1, chong_begin = -1;
  	bool first = true;
  	p = begin;
  	while (p != -1)
  	{
  		if (!a[abs(list[p].data)])
  		{
  			a[abs(list[p].data)] = true;
  			last = p;
  			p = list[p].next;
  		}
  		else if (first)
  		{
  			chong_begin = p;
  			last_chong = p;
  			list[last].next = list[p].next;
  			p = list[p].next;
  			list[last_chong].next=-1;
  			first = false;
  		}
  		else
  		{
  			list[last_chong].next = p;
  			last_chong = p;
  			list[last].next = list[p].next;
  			p = list[p].next;
  			list[last_chong].next = -1;
  		}
  	}
  
  	p = begin;
  	while (p!= -1)
  	{
  		if (list[p].next == -1)
  			printf("%05d %d %d\\n", list[p].address, list[p].data, list[p].next);
  		else
  			printf("%05d %d %05d\\n", list[p].address, list[p].data, list[p].next);
  		p = list[p].next;
  	}
  
  	p = chong_begin;
  	while (p != -1)
  	{
  		if (list[p].next == -1)
  			printf("%05d %d %d\\n", list[p].address, list[p].data, list[p].next);
  		else
  			printf("%05d %d %05d\\n", list[p].address, list[p].data, list[p].next);
  		p = list[p].next;
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
