createdAt: "2018-08-31T15:23:56.512Z"
updatedAt: "2018-08-31T15:24:40.749Z"
type: "MARKDOWN_NOTE"
folder: "07efa574bd8c487415bc"
title: "A 1058"
content: '''
  # A 1058
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main()
  {
  	long long need_galleon, need_sickle, need_knut;
  	long long pay_galleon, pay_sickle, pay_knut;
  	long long need, pay;
  	scanf("%lld.%lld.%lld", &need_galleon, &need_sickle, &need_knut);
  	scanf("%lld.%lld.%lld", &pay_galleon, &pay_sickle, &pay_knut);
  	need = need_galleon * 17 * 29 + need_sickle * 29 + need_knut;
  	pay = pay_galleon * 17 * 29 + pay_sickle * 29 + pay_knut;
  	long long ret = pay + need;
  	printf("%d.%d.%d", ret / (17 * 29), ret % (17 * 29) / 29, ret % 29);
  }
  ```
  用运算进位的方法效率应该更高
'''
tags: []
isStarred: false
isTrashed: false
