createdAt: "2018-08-31T08:16:01.259Z"
updatedAt: "2018-08-31T14:37:42.841Z"
type: "MARKDOWN_NOTE"
folder: "3e6a36e6bc70ab6e4419"
title: "A 1036"
content: '''
  # A 1036
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  using namespace std;
  
  struct student {
  	char name[11];
  	char id[11];
  	int score;
  }highest_female,lowest_male,temp;
  
  int main() 
  {
  	int N;
  	char sex;
  	bool f_exist = false, m_exist = false;
  	scanf("%d", &N);
  	highest_female.score = -1;
  	lowest_male.score = 101;
  	for (int i = 0; i < N; i++)
  	{
  		scanf("%s %c %s %d", &temp.name, &sex, &temp.id, &temp.score);
  		if (sex == 'F')
  		{
  			f_exist = true;
  			if (temp.score > highest_female.score)
  				highest_female = temp;
  		}
  		if (sex == 'M')
  		{
  			m_exist = true;
  			if (temp.score < lowest_male.score)
  				lowest_male = temp;
  		}
  	}
  	if (f_exist)
  		printf("%s %s\\n", highest_female.name, highest_female.id);
  	else
  		printf("Absent\\n");
  
  	if (m_exist)
  		printf("%s %s\\n", lowest_male.name, lowest_male.id);
  	else
  		printf("Absent\\n");
  
  	if (f_exist&&m_exist)
  		printf("%d", highest_female.score - lowest_male.score);
  	else
  		printf("NA");
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
