createdAt: "2018-09-06T17:14:31.900Z"
updatedAt: "2018-09-06T17:14:53.625Z"
type: "MARKDOWN_NOTE"
folder: "73c32aa06fe7e0a200c3"
title: "A 1051"
content: '''
  # A 1051
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  #include<iostream>
  #include<algorithm>
  #include<stack>
  
  
  int main()
  {
  	int m, n, k;
  	scanf("%d %d %d", &m, &n, &k);
  	int a[1010];
  	for (int i = 0; i < k; i++)
  	{
  		std::stack<int> my_stack;
  		bool success = true;
  		int current = 1;
  		for (int j = 1; j <=n; j++)
  		{
  			scanf("%d", &a[j]);
  		}
  		for (int j = 1; j <= n; j++)
  		{
  			my_stack.push(j);
  			if (my_stack.size() > m)
  			{
  				success = false;
  				break;
  			}
  			while (!my_stack.empty()&&my_stack.top() == a[current])
  			{
  				my_stack.pop();
  				current++;
  			}
  		}
  		if (my_stack.empty() && success)
  			printf("YES\\n");
  		else
  			printf("NO\\n");
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
