createdAt: "2018-09-01T06:15:54.206Z"
updatedAt: "2018-09-01T06:16:09.596Z"
type: "MARKDOWN_NOTE"
folder: "f845f61dda1e1958a234"
title: "A 1005"
content: '''
  # A 1005
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main() 
  {
  	char yinshe[11][10] = { "zero","one","two","three","four","five","six","seven","eight","nine" };
  	char a[105];
  	scanf("%s", &a);
  	int len = strlen(a);
  	int sum = 0;
  	for (int i = 0; i < len; i++)
  	{
  		sum += a[i] - '0';
  	}
  	char csum[105];
  	sprintf(csum, "%d", sum);
  	len = strlen(csum);
  	for (int i = 0; i < len; i++)
  	{
  		printf("%s", yinshe[csum[i]-'0']);
  		if (i < len - 1)
  			printf(" ");
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
