createdAt: "2018-09-01T04:08:54.640Z"
updatedAt: "2018-09-01T04:09:04.848Z"
type: "MARKDOWN_NOTE"
folder: "f845f61dda1e1958a234"
title: "B1048"
content: '''
  # B1048
  ```C++
  #define _CRT_SECURE_NO_WARNINGS
  #include<cstdio>
  #include<math.h>
  #include<string.h>
  using namespace std;
  
  
  
  int main() 
  {
  	char yinshe[15] = {'0', '1','2','3','4','5','6','7','8','9','J','Q','K' };
  	char a[105], b[105];
  	int z[105];
  	scanf("%s %s", a, b);
  	int lena = strlen(a);
  	int lenb = strlen(b);
  	int k = 0;
  	int i, j;
  	for (i = lenb-1,j=lena-1; i >=0&&j>=0; i--,j--)
  	{
  		if ((lenb - i) % 2 == 1)
  		{
  			z[k] = (a[j]-'0' + b[i]-'0') % 13;
  		}
  		else
  		{
  			z[k] = b[i] - a[j];
  			if (z[k] < 0)
  				z[k] += 10;
  		}
  		k++;
  	}
  	for (; i >= 0; i--)
  	{
  		z[k] = b[i]-'0';
  		k++;
  	}
  	for (; j >= 0; j--)
  	{
  		if ((lena - j) % 2 == 1)
  		{
  			z[k] = a[j] - '0';
  		}
  		else
  		{
  			z[k] = -(a[j] - '0');
  			if (z[k] < 0)
  				z[k] += 10;
  		}
  		k++;
  	}
  	for (k--; k >= 0; k--)
  	{
  		printf("%c", yinshe[z[k]]);
  	}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
